<div id="phaser"></div>

	<div class="btn-group letterButtons">
		<div class="first-row">
			<button id="q" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('q')">Q</button>
		  	<button id="w" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('w')">W</button>
		  	<button id="e" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('e')">E</button>
		  	<button id="r" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('r')">R</button>
		  	<button id="t" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('t')">T</button>
		  	<button id="y" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('y')">Y</button>
			<button id="u" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('u')">U</button>
		  	<button id="i" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('i')">I</button>
			<button id="o" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('o')">O</button>
	  		<button id="p" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('p')">P</button><br/><br/>
	  	</div>
	  	<div class="second-row">
		  	<button id="a" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('a')">A</button>
		  	<button id="s" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('s')">S</button>
		  	<button id="d" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('d')">D</button>
		  	<button id="f" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('f')">F</button>
			<button id="g" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('g')">G</button>
		  	<button id="h" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('h')">H</button>
		  	<button id="j" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('j')">J</button>
		  	<button id="k" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('k')">K</button>
		  	<button id="l" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('l')">L</button><br/><br/>
	  	</div>
	  	<div class="third-row">
			<button id="z" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('z')">Z</button>
		  	<button id="x" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('x')">X</button>
		  	<button id="c" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('c')">C</button>
		  	<button id="v" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('v')">V</button>
		  	<button id="b" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('b')">B</button>
			<button id="n" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('n')">N</button>
		  	<button id="m" type="button" class="btn btn-primary letterButton btn-lg" ng-click="letter('m')">M</button>
		  </div>
	</div>

	<div id="right-container-ranking">
		<div id="ranking">
			<div id="ranking-table-header" class="row">
				<div class="position col-sm-1"></div>
				<div class="name col-sm-6">Name</div>
				<div class="points col-sm-3">Points</div>
				<div class="points col-sm-1"></div>
			</div>
			<div id="ranking-table-content">
				<ul>
				</ul>
			</div>
		</div>
	</div>

<script type="text/javascript" src="javascript/hangman.js"></script>