<div ng-controller="customersCtrl">
	<div id="rooms" >
		<div id="output-room">
			<button ng-repeat="x in rooms | orderBy: 'usersNum':true" type="button" class="btn btn-default btn-block roomEnter">
				<span class="singleRoomName">{{ x.name }}</span>
				<span class="badge">{{ x.usersNum }}</span>
			</button>
		</div>
		<div id="input-room" class="row">
			<div id="input-join" class="col-sm-9">
				<input type="text" class="form-control" id="roomname" placeholder="Enter Room Name" data-toggle="tooltip" data-placement="left" title="To create a room just enter its name here">
			</div>
			<div id="submit-join" class="col-sm-3">
				<button id="create" type="button" class="btn btn-default">Join Room</button>
			</div>
		</div>
	</div>
</div>