<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<script src="paper.js/docs/assets/js/paper.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

	<script src="/socket.io/socket.io.js"></script>
	<script src="javascript/charades.js"></script>
	<link rel="stylesheet" href="stylesheets/charades.css">
</head>
<body>
	<div class="btn-group">
	  <button id='black' type="button" class="btn btn-primary color">Black</button>
	  <button id='green' type="button" class="btn btn-primary color">Green</button>
	  <button id='red' type="button" class="btn btn-primary color">Red</button>
	</div>
	<br/>
	<canvas id="myCanvas" height="500" width="500"></canvas>
</body>
</html>
