<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<script src="libraries/jquery-1.11.3.min.js"></script>

	<link rel="stylesheet" href="libraries/bootstrap-3.3.5-dist/css/bootstrap.min.css">
	<script src="libraries/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
	<script src="libraries/angular-1.4.8/angular.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="phaser/phaser.js"></script>
	<script src="phaser/phaser.min.js"></script>
	<script type="text/javascript">
		var user = <%- JSON.stringify(user) %>;
		var gameName = "pictionary"; //w angular do wyświetlania pokoi
	</script>
	<script src="javascript/pictionary.js"></script>
	<script src="javascript/top-container.js"></script>
	<link rel="stylesheet" href="stylesheets/top-container.css">
	<link rel="stylesheet" href="stylesheets/pictionary.css">
</head>
<body>
	<div ng-app="myApp">
		<%- include top-container.ejs %>
		<%- include angular-rooms-controller.ejs %>
	</div>
	<div id="tool-belt">
		<button id="white" type="button" class="btn btn-default color"></button>
		<button id="yellow" type="button" class="btn btn-default color"></button>
		<button id="red" type="button" class="btn btn-default color"></button>
		<button id="blue" type="button" class="btn btn-default color"></button>
		<button id="green" type="button" class="btn btn-default color"></button>
		<button id="black" type="button" class="btn btn-default color"></button>
		<span id="size-buttons">
			<button id="1" type="button" class="btn btn-default size">1</button>
			<button id="10" type="button" class="btn btn-default size">10</button>
			<button id="30" type="button" class="btn btn-default size">30</button>
		</span>
	</div>
	<div id="right-container">
		<div id="chat">
			<div id="output-chat">
				<ul class="chat-list">
				</ul>
			</div>
			<div id="input-chat" class="row">
				<div id="message" class="col-sm-9">
					<input type="text" class="form-control">
				</div>
				<div id="send-button" class="col-sm-3">
					<button type="button" class="btn btn-primary">Send</button>
				</div>
			</div>
		</div>
	</div>
	<div id="right-container-ranking">
		<div id="ranking">
			<div id="ranking-table-header" class="row">
				<div class="position col-sm-1"></div>
				<div class="name col-sm-6">Name</div>
				<div class="points col-sm-3">Points</div>
				<div class="points col-sm-1"></div>
			</div>
			<div id="ranking-table-content">
				<ul>
				</ul>
			</div>
		</div>
	</div>
	<script src="javascript/angular-controllers.js"></script>
</body>
</html>
