<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <script src="libraries/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="libraries/bootstrap-3.3.5-dist/css/bootstrap.min.css">
  <script src="libraries/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
  <script src="libraries/angular-1.4.8/angular.min.js"></script>
</head>
<body> 
<form method="POST">
  
  Name:<input type="text" id="name" name ="name" placeholder="Enter text">
  Password:<input type="password" id="pwd" name="password" placeholder="Enter password">

  <button type="submit" class="btn btn-default">Submit</button>

</form>
</body>
</html>