<div id="top-container">
			<div id="website-name">
				<!-- PATTERN GAMES -->
					<img id="titleblack" src="stylesheets/img/titleblack.png">
					<img id="titleyellow" src="stylesheets/img/titleyellow.png">
					<img id="titleblue" src="stylesheets/img/titleblue.png">
					<img id="titlegray" src="stylesheets/img/titlegray.png">
					<a href="/"></a>
				</div>
		    <div id="you-are-playing-as">
				<div id="phrase">
					You are playing as
				</div>
				<div id="login">
					<div id="profile" class="log-button">
						<%- user.name %>
						<div id="statistics" class="row">
							<div id="overallpoints" class="col-sm-6">
								Points
								<br/>
								<%= user.overallPoints %><span class="glyphicon glyphicon-star"></span>
							</div>
							<div id="time" class="col-sm-6">
								Time
								<br/>
								<%= Math.floor(user.overallTime/1000/60/60) %>h 
								<%= Math.floor((user.overallTime - Math.floor(user.overallTime/1000/60/60) * 1000 * 60 * 60)/1000/60) %>m
							</div>
						</div>
					</div>
					<% if(user.guest) { %>
						<div id="sign-in" class="log-button">
							Sign in
							<a href="/login"></a>
						</div>
						<div id="register" class="log-button">
							Register
							<a href="/register"></a>
						</div>
					<% } else { %>
						<div id="sign-out" class="log-button">
							Sign out
							<a href="/logout"></a>
						</div>
					<% } %>
				</div>
			</div>  
		</div>


		<% if(!user.guest) { %>
		<div id="left-container" ng-controller="friendsController">
			<div id="friends-header">
				Friends
			</div>
			<ul class="friends-list">
				<li ng-repeat="x in friends track by $index">
					<button type="button" class="chat-friend-button" data-target="#{{ x }}">
						<img id="offline{{ x }}" class="offline-status" src="stylesheets/img/offline.png">
						<img id="online{{ x }}" class="online-status" src="stylesheets/img/online.png">
						<span class="chatroom-name">{{ x }}<span>
						<span class="got-message glyphicon glyphicon-envelope"></span>
					</button>
					<div id="{{ x }}" class="chat-window collapse">
						<div class="chat-friend">
							<div class="chat-friend-messages">
								<ul>
								</ul>
							</div>
							<div class="chat-friend-input">
								<input type="text" class="form-control chat-friend-input-input" placeholder="Enter Message" ng-keypress="keyPressed($event, x, 'msg'+x)" id="msg{{ x }}">
							</div>
						</div>
					</div>
				</li>
			</ul>
			<div id="input-friend" class="row">
				<div id="input-add" class="col-sm-9">
					<input type="text" class="form-control" id="friendname" placeholder="Enter Friend Name" ng-model="friendName">
				</div>
				<div id="submit-add" class="col-sm-3">
					<button id="add" type="button" class="btn btn-success" ng-click="addFriend()">Add</button>
				</div>
			</div>
		</div>

		<% } %>