@import url('http://fonts.googleapis.com/css?family=Yantramanav');
.bordered {
	border: 1px solid black;
}

body {
	-webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
    background-color: #333333;
    color: white;

}

#top-container {
	position: fixed;
	//.bordered;
	height: 50px;
	width: 100%;

	-webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
    background-color: #222222;

	
	#website-name {
		//.bordered;
		float: left;
		width: 700px;
		height: 100%;
		text-align: center;
		margin-left: 7%;
		line-height: 45px;

		// font-family: 'Yantramanav';
		// font-size: 75px;
		// font-weight: bold;
		// color: #333333;
		// margin-top: 7px;

		// -webkit-transition: background-image 0.5s ease-in-out; /* Safari */
  //   	transition: background-image 0.5s ease-in-out;

		
		// background-size: auto 100%;
		// background-repeat: no-repeat;


	
		img {
			position: absolute;
			left: 7%;
			height: 100%;

			-webkit-transition: opacity 1s; /* Safari */
    		transition: opacity 1s;
		}

		

	}

	#you-are-playing-as {
		//.bordered;
		float: right;
		width: 400px;
		height: 50px;
		text-align: center;
		line-height: 45px;
		margin-right: 150px;

		#phrase {
			position: absolute;
		}
	}

	#login {
		//.bordered;
		width: 230px;
		height: 100%;
		float: left;
		text-align: center;	
		margin-left: 150px;

		.log-button {
			position: absolute;
			//.bordered;
			line-height: 45px;
			border-bottom: 3px solid #808080;
			height: 100%;
			width: 100px;

			-webkit-transition: border-bottom 0.5s, background-color 0.5s, width 0.5s, margin-left 0.5s, height 0.5s; /* Safari */
		    transition: border-bottom 0.5s, background-color 0.5s, width 0.5s, margin-left 0.5s, height 0.5s;

			&:hover {
				border-color: #FFFFFF;
				background-color: rgba(255,255,255,0.1);
			}
		}

		#profile {
			overflow: hidden;

			#statistics {
				line-height: 30px;
				margin-top: 20px;
				font-size: 110%;
				width: 90%;
				margin-left: 5%;
			}

			&:hover {
				width: 250px;
				margin-left: -150px;
				height: 150px;
			}
			
		}

		#sign-in {
			//float: right;
			margin-left: 120px;
		}

		#sign-out {
			//float: right;
			margin-left: 120px;
		}

		#register {
			//float: right;
			margin-left: 240px;
		}
	}
}

#left-container {
	//.bordered;
	position: absolute;
	width: 270px;
	height: 500px;
	top: 50%;
	margin-top: -225px;
	margin-left: -240px;
	border-radius: 5px;
	background-color: #222222;

	-webkit-transition: margin-left 0.5s, background-color 1s; /* Safari */
	transition: margin-left 0.5s, background-color 1s;

	&:hover {
		margin-left: -5px;
	}

	#friends-header {
		width: 100%;
		text-align: center;
		margin-left: 5px;
		margin-bottom: 10px;
		margin-top: 10px;
		font-size: 150%;
	}

	#friends-list {
		overflow: scroll;
	}
}

#input-friend {
	//.bordered;
	position: absolute;
	width: 100%;
	padding: 0;
	margin: 0;
	bottom: -40px;

	#input-add {
		padding: 0;
		margin: 0;
	}

	#submit-add {
		padding: 0;
		margin: 0;

		#add {
			margin: 0;
			width: 90%;
			float: right;
		}
	} 
}

.friends-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-left: 5px;

	li {
		.chat-friend-button {
			border-radius: 0px;
			background-color: transparent;
			// opacity: 0.5;
			border: none;
			// border-bottom: 2px solid black;
			border-bottom: 2px solid #808080;
			height: 30px;
			text-align: left;
			width: 100%;

			.chatroom-name {
				margin-left: 30px;
			}

			&:hover, &:active {
				// background-color: #222222;
				background-color: rgba(255,255,255,0.1);
				// border-bottom: 2px solid black;
				border-color: #FFFFFF;
			}

			.got-message {
				float: right;
				display: none;
			}

			.online-status, .offline-status {
				position: absolute;
				width: 10px;
				height: auto;
				margin-top: 5px;
				left: 20px;
			}

			.online-status {
				display: none;
			}

		}
	}
}


.chat-friend {
	width: auto;
	height: auto;
	// .bordered;

	.chat-friend-messages {
		.bordered;
		height: 200px;
		overflow-y: auto;
		
		ul {
			// text-align: left;
			list-style-type: none;
			// .bordered;

			li {
				// .bordered;
				margin-left: -30px;
			}
		}
	}

	.chat-friend-input {
		width: 100%;

		input {
			height: 30px;
		}
	}
}
