<div id="phaser"></div>
<div class="btn-group actionButtons" >
	<button id="hit" type="button" class="btn btn-success actionButton" ng-click="triggerActionButton('hit')">Hit</button>
	<button id="stand" type="button" class="btn btn-success actionButton" ng-click="triggerActionButton('stand')">Stand</button>
	<button id="double" type="button" class="btn btn-success actionButton" ng-click="triggerActionButton('double')">Double</button>
	<button id="split" type="button" class="btn btn-success actionButton" ng-click="triggerActionButton('split')">Split</button>
</div>
<div class="btn-group betButtons">
	<button id="10" type="button" class="btn btn-default betButton" ng-click="triggerBetButton(10)">10</button>
	<button id="25" type="button" class="btn btn-default betButton" ng-click="triggerBetButton(25)">25</button>
	<button id="100" type="button" class="btn btn-default betButton" ng-click="triggerBetButton(100)">100</button>
	<button id="500" type="button" class="btn btn-default betButton" ng-click="triggerBetButton(500)">500</button>
</div>

<script type="text/javascript" src="javascript/blackjack.js"></script>