<div id="phaser"></div>

<div class="btn-group actionButtons" >
	<img src="stylesheets/img/hit.png" class="actionButton" ng-click="triggerActionButton('hit')" data-toggle="tooltip" data-placement="top" title="Hit">
	<img src="stylesheets/img/stand.png" class="actionButton" ng-click="triggerActionButton('stand')" data-toggle="tooltip" data-placement="top" title="Stand">
	<img src="stylesheets/img/double.png" class="actionButton" ng-click="triggerActionButton('double')" data-toggle="tooltip" data-placement="top" title="Double">
	<img src="stylesheets/img/split.png" class="actionButton" ng-click="triggerActionButton('split')" data-toggle="tooltip" data-placement="top" title="Split">
	<img src="stylesheets/img/insurence.png" class="actionButton" ng-click="triggerActionButton('insurence')" data-toggle="tooltip" data-placement="top" title="Insurence">
</div>
<div class="btn-group betButtons">
	<img id="red-chip" src="stylesheets/img/red.png" class="betButton" ng-click="triggerBetButton(5)">
	<img id="green-chip" src="stylesheets/img/green.png" class="betButton" ng-click="triggerBetButton(25)">
	<img id="blue-chip" src="stylesheets/img/blue2.png" class="betButton" ng-click="triggerBetButton(50)">
	<img id="black-chip" src="stylesheets/img/black.png" class="betButton" ng-click="triggerBetButton(100)">
	<img id="purple-chip" src="stylesheets/img/purple.png" class="betButton" ng-click="triggerBetButton(500)">
</div>

<script type="text/javascript" src="javascript/blackjack.js"></script>