<div id="phaser"></div>
<div class="btn-group actionButtons" >
	<!-- <button id="hit" type="button" class="btn btn-success actionButton" ng-click="triggerActionButton('hit')">Hit</button>
	<button id="stand" type="button" class="btn btn-success actionButton" ng-click="triggerActionButton('stand')">Stand</button>
	<button id="double" type="button" class="btn btn-success actionButton" ng-click="triggerActionButton('double')">Double</button>
	<button id="split" type="button" class="btn btn-success actionButton" ng-click="triggerActionButton('split')">Split</button> -->
	<img src="stylesheets/img/hit.png" class="actionButton" ng-click="triggerActionButton('hit')">
	<img src="stylesheets/img/stand.png" class="actionButton" ng-click="triggerActionButton('stand')">
	<img src="stylesheets/img/double.png" class="actionButton" ng-click="triggerActionButton('double')">
	<img src="stylesheets/img/split.png" class="actionButton" ng-click="triggerActionButton('split')">
	<img src="stylesheets/img/insurence.png" class="actionButton" ng-click="triggerActionButton('insurence')">
</div>
<div class="btn-group betButtons">
	<!-- <button id="10" type="button" class="btn btn-default betButton" ng-click="triggerBetButton(10)">10</button>
	<button id="25" type="button" class="btn btn-default betButton" ng-click="triggerBetButton(25)">25</button>
	<button id="100" type="button" class="btn btn-default betButton" ng-click="triggerBetButton(100)">100</button>
	<button id="500" type="button" class="btn btn-default betButton" ng-click="triggerBetButton(500)">500</button> -->
	<img id="red-chip" src="stylesheets/img/red.png" class="betButton" ng-click="triggerBetButton(5)">
	<img id="green-chip" src="stylesheets/img/green.png" class="betButton" ng-click="triggerBetButton(25)">
	<img id="blue-chip" src="stylesheets/img/blue2.png" class="betButton" ng-click="triggerBetButton(50)">
	<img id="black-chip" src="stylesheets/img/black.png" class="betButton" ng-click="triggerBetButton(100)">
	<img id="purple-chip" src="stylesheets/img/purple.png" class="betButton" ng-click="triggerBetButton(500)">
</div>

<script type="text/javascript" src="javascript/blackjack.js"></script>