<script type="text/javascript">
	$(document).ready(function() {
		$('[data-toggle="tooltip"]').tooltip("show");
	});
	// alert("to tu!")
</script>
<div id="rooms">
	<div id="output-room">
		<div ng-repeat="x in rooms | orderBy: 'usersNum':true">
			<button type="button" class="btn btn-default btn-block roomEnter" ng-click="enterRoom(x.name)">
				<span class="singleRoomName">{{ x.name }}</span>
				<span class="badge">{{ x.usersNum }}</span>
			</button>
		</div>
	</div>
	<div id="input-room" class="row">
		<div id="input-join" class="col-sm-9">
			<input type="text" class="form-control" id="roomname" placeholder="Enter Room Name" data-toggle="tooltip" data-placement="left" title="To create a room just enter its name here" ng-model="roomEntered">
		</div>
		<div id="submit-join" class="col-sm-3">
			<button id="create" type="button" class="btn btn-default" ng-click="createRoom()">Join Room</button>
		</div>
	</div>
</div>