<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<script src="libraries/jquery-1.11.3.min.js"></script>

	<link rel="stylesheet" href="libraries/bootstrap-3.3.5-dist/css/bootstrap.min.css">
	<script src="libraries/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
	<script src="libraries/angular-1.4.8/angular.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="phaser/phaser.js"></script>
	<script src="phaser/phaser.min.js"></script>
	<script type="text/javascript">
		var user = <%- JSON.stringify(user) %>;
		var gameName = "hangman"; //w angular do wyświetlania pokoi
	</script>
	<script src="javascript/hangman.js"></script>
	<script src="javascript/top-container.js"></script>
	<link rel="stylesheet" href="stylesheets/top-container.css">
	<link rel="stylesheet" href="stylesheets/hangman.css">
</head>
<body>
	<div ng-app="myApp">
		<%- include top-container.ejs %>
		<%- include angular-rooms-controller.ejs %>
	</div>

	
		
	<script src="javascript/angular-controllers.js"></script>
</body>
</html>
